/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/main.css ***!
  \********************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html * {
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

input, button {
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

button {
  width: 100px;
  background: #04AA6D; /* Green background */
  color: white;
  border: none;
  height: 25px;
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
}

/* Mouse-over effects */
button:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.content {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: blanchedalmond;
}

.container {
  display: flex;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#div-values {
  flex: 1;
}

/* classes set in code */
.hide {
  display: none;
}

.value-container {
  display: flex;
  align-items: center;
}

.value-label {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50px;
  margin-left: 20px;
}
.value-meter {
  margin-left: 20px;
  width: 100%;
}
/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/slider.css ***!
  \**********************************************************************/
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/checkbox.css ***!
  \************************************************************************/
/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color:  #04AA6D;/* #2196F3;*/
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*# sourceMappingURL=main.f698d723fe3697b109fc.css.map*/