*,
*::before,
*::after {
  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


.input-zone {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.input-zone-input {
  flex: 0;
  margin-right: 10px;
}

.options {
  margin: 10px;
}

.container {
  display: flex;
}

.value-container {
  display: flex;
  align-items: center;
}

.valuelabel {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50px;
  margin-left: 20px;
}
.valuemeter {
  margin-left: 20px;
}